{% extends 'base.html' %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}
{% block content %}
<h1>
    {{ post.title }}
</h1>
<small>
    By: {{ post.author.first_name }} {{ post.author.last_name}} 
    {% if user.is_authenticated %}
        - 
        <a href="{% url 'update_post' post.pk %}"> (Edit) </a>
        <a href="{% url 'delete_post' post.pk %}"> (Delete) </a>
    {% endif %}
</small>
<br/>
<hr>
<br/>
<p>
    {{ post.content }}
</p>

<br><br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit", name = "post_id", value = "{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    - {{total_likes}} Likes
<br><br/>
<hr>
<br/>

<h2> Comments</h2>
{% if not post.comments.all %}
    <p> No comments yet. </p>
    <a href="{% url 'add_comment' post.pk %}"> Add One </a>
{% else %}
    <a href="{% url 'add_comment' post.pk %}"> Add a comment </a>
    <br>
    {% for comment in post.comments.all %}
        <p> {{ comment.body }} </p>
        <small> By: {{ comment.name }} </small>
        <br>
        <small> Date added: {{ comment.date_added}} </small>
        <br/>
        <hr>
        <br/>
    {% endfor %}
{% endif %}
<br><br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit", name = "post_id", value = "{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    - {{total_likes}} Likes
<br><br/>
<hr>
<br/>



<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>


{% endblock %}