{% extends 'base.html' %}

{% block content %}
<h1> Post </h1>
<ul>
    {% for post in object_list %}
        <li>
            <a href="{% url 'article-detail' post.pk %}">{{ post.title }} </a>
            - {{ post.author.first_name }} {{ post.author.last_name}} - {{post.date_posted}}
            <small>
                {% if user.is_authenticated %}
                    {% if post.author.id == user.id %}
                        - 
                        <a href="{% url 'update_post' post.pk %}"> (Edit) </a>
                        <a href="{% url 'delete_post' post.pk %}"> (Delete) </a>
                    {% endif %}
                {% endif %}
            </small>
            <br/>
            {{ post.content|slice:":500" }} 
        </li>
    {%endfor%}
</ul>
{% endblock %}